* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #FEFEFE;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark {
  background: #111111;
}

a {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}

.social-bar {
  position: fixed;
  bottom: 0;
  right: 25%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 100;
}

.icon {
  color: white;
  text-decoration: none;
  padding: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.icon-facebook {
  background-color: #2e406e;
  border-radius: 1rem 0 0 0;
}

.icon-instagram {
  background-color: #3f60a5;
}

.icon-whatsapp {
  background-color: #28b870;
}

.icon-github {
  background-color: #121213;
  border-radius: 0 1rem 0 0;
}

@media (min-width: 910px) {
  .social-bar {
    right: 0;
    top: 35%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icon-github {
    border-radius: 0 0 0 1rem;
  }
}

header .inicio {
  max-width: 100%;
  height: 100vh;
}

header .inicio .nav-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 0px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
          box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FEFEFE;
}

header .inicio .nav-bg .nombre-inicio {
  width: 250px;
  padding-left: 0px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body.dark header .inicio .nav-bg {
  background: #222222;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

body.dark header .inicio .nav-bg h1 {
  color: #FEFEFE;
}

header .inicio .nav-bg .logo {
  font-size: 12px;
  position: relative;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  header .inicio .nav-bg .logo {
    font-size: 15px;
  }
}

header .inicio .nav-bg .menu-icon {
  display: none;
}

header .inicio .nav-bg nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .inicio .nav-bg ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 100px;
}

header .inicio .nav-bg ul li {
  display: inline-block;
}

header .inicio .nav-bg ul li a {
  display: block;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  border-radius: 5px;
}

body.dark header .inicio .nav-bg ul li a {
  color: #C8C8C8;
}

body.dark header .inicio .nav-bg ul li a:hover {
  color: #FEFEFE;
  background-color: #6a6a6d;
}

header .inicio .nav-bg ul li a:hover {
  background-color: #3078a1;
  color: #ffffff;
}

@media (max-width: 910px) {
  body.dark header .inicio .nav-bg .menu-icon {
    color: #FEFEFE;
  }
  header .inicio .nav-bg .menu-icon {
    display: block;
    cursor: pointer;
    padding-right: 15px;
  }
  header .inicio .nav-bg .nav-bg {
    width: 100%;
    margin: 0 auto;
  }
  header .inicio .nav-bg .menu-test {
    width: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  header .inicio .nav-bg .menu-test li {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
  }
  header .inicio .nav-bg .menu-test li a {
    padding: 0.5rem 0;
  }
  header .inicio .nav-bg ul.show {
    display: block;
  }
}

header .inicio .nav-bg .switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 910px) {
  header .inicio .nav-bg .switch .switch {
    display: none;
  }
}

header .inicio .nav-bg .switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

header .inicio .nav-bg .switch.active {
  background: orange;
  color: black;
}

header .inicio .nav-bg .switch.active::after {
  right: 0;
  left: unset;
}

header .inicio .nav-bg .switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

header .hero {
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
  background: #2dfbee;
  background: repeating-linear-gradient(-29deg, #2dfbee 18%, #042d80 80%);
  margin-bottom: 2rem;
}

body.dark header .hero {
  background: repeating-linear-gradient(-29deg, black 18%, #3c3c3d 80%);
}

header .hero .imagen_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

header .hero .imagen_header img {
  width: 60%;
  height: 60%;
  border-radius: 0px;
}

@media (min-width: 768px) {
  header .hero .imagen_header img {
    width: 25%;
    height: 25%;
  }
}

header .hero .contenido-hero {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

header .hero .contenido-hero h2 {
  padding-bottom: 10px;
  font-size: 40px;
}

body.dark header .hero .contenido-hero h2 {
  color: #FEFEFE;
}

header .hero .contenido-hero .cargos {
  color: white;
  font-size: 30px;
}

@media (min-width: 768px) {
  header .hero .contenido-hero h2 {
    font-size: 60px;
  }
  header .hero .contenido-hero .cargos {
    font-size: 50px;
  }
}

header .hero .contenido-hero .btn {
  position: relative;
  padding: 10px 30px;
  border: 4px solid #FEFEFE;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  color: #FEFEFE;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .hero .contenido-hero .btn:hover {
  color: #746b6b;
}

.sobremi-w {
  width: 100%;
  background-color: #2dfbee;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.dark .sobremi-w {
  background-color: #383232;
}

.contenedor-sobremi {
  width: 90%;
  background-color: #FEFEFE;
  padding-top: 10px;
  border-radius: 15px;
  margin: 30px 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .contenedor-sobremi {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% 35%;
        grid-template-columns: 55% 35%;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor-sobremi img {
    width: 450px;
    height: 450px;
    padding-right: 50px;
  }
  .contenedor-sobremi h1 {
    margin-right: 100px;
  }
  .contenedor-sobremi p {
    margin-right: 100px;
  }
}

body.dark .contenedor-sobremi {
  background-color: #222222;
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contenedor-sobremi h1 {
  padding-top: 5px;
  text-align: center;
  font-size: 50px;
  margin-left: 20px;
}

body.dark .contenedor-sobremi h1 {
  color: #FEFEFE;
}

.contenedor-sobremi p {
  font-size: 22px;
  margin-right: 10px;
  margin-left: 20px;
  text-align: center;
}

body.dark .contenedor-sobremi p {
  color: #FEFEFE;
}

.contenedor-sobremi img {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  border-radius: 10px;
  margin-left: 18%;
}

.contenedor-habilidades {
  width: 100%;
  background: #2dfbee;
}

body.dark .contenedor-habilidades {
  background-color: #383232;
}

.habilidades {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  background: #2dfbee;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-top: 15px;
}

body.dark .habilidades {
  background-color: #383232;
  color: #FEFEFE;
}

.habilidades h1 {
  margin: 0;
  padding-top: 20px;
  font-size: 50px;
}

.habilidades h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.tres-columnas {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2dfbee;
  padding-bottom: 20px;
}

body.dark .tres-columnas {
  background-color: #383232;
  color: #111111;
}

@media (min-width: 768px) {
  .tres-columnas {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.entrada-habilidades {
  width: 100%;
  margin: 0 auto;
  background-color: #FEFEFE;
  border-radius: 15%;
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.entrada-habilidades h1 {
  padding: 0%;
  padding-top: 10px;
}

body.dark .entrada-habilidades {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  background-color: #222222;
  color: #FEFEFE;
}

.servicios {
  background-color: #fff;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  color: #111111;
}

body.dark .servicios {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  background-color: #222222;
  color: #FEFEFE;
}

.imagen-fondo {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  height: 300px;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

.imagen-fondo .btn {
  position: relative;
  padding: 10px 30px;
  border: 4px solid #FEFEFE;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  color: #FEFEFE;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.imagen-fondo .btn:hover {
  color: #746b6b;
}

.proyectos {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #FEFEFE;
  padding-bottom: 30px;
  padding-top: 1px;
}

body.dark .proyectos {
  background-color: #111111;
  color: #FEFEFE;
}

.proyectos h1 {
  padding-top: 20px;
}

.tres-columnas-pro {
  width: 100%;
  padding-top: 15px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  row-gap: 2rem;
  display: -ms-grid;
  display: grid;
}

body.dark .tres-columnas-pro {
  background-color: #111111;
  color: #111111;
}

@media (min-width: 768px) {
  .tres-columnas-pro {
    width: 95%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: 5rem;
    margin: 0 auto;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.entrada-proyectos {
  width: 310px;
  height: 280px;
  position: relative;
  margin: 0 auto;
  background-color: #FEFEFE;
  border-radius: 5%;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
}

.entrada-proyectos img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  background-size: cover;
}

.entrada-proyectos h1 {
  padding: 0%;
  padding-top: 10px;
}

.entrada-proyectos:hover .capa {
  width: 100%;
}

.entrada-proyectos .capa {
  width: 0%;
  height: 100%;
  background-color: rgba(36, 240, 226, 0.5);
  position: absolute;
  top: 0;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.entrada-proyectos .capa:hover {
  width: 100;
}

.entrada-proyectos .capa h2 {
  color: #FEFEFE;
  font-size: 35px;
  padding: .8em .9em;
}

.entrada-proyectos .capa a {
  color: #FEFEFE;
  font-size: 20px;
  border: 6px solid #FEFEFE;
  padding: .8em .9em;
}

body.dark .entrada-proyectos {
  background-color: #111111;
  color: #FEFEFE;
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contacto {
  max-width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  padding-top: 0;
  border-radius: 3px;
}

.contacto h1 {
  text-align: center;
  font-size: 3em;
}

body.dark .contacto h1 {
  color: #FEFEFE;
}

.contacto .contacto-1 {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

body.dark .contacto .contacto-1 {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contacto .contacto-1 > * {
  padding: 1em;
}

.contacto .contacto-form {
  background-color: #C8C8C8;
}

.contacto .contacto-form form {
  margin: 0;
  padding: 0.5em;
}

.contacto .contacto-form form p {
  padding-bottom: 10px;
}

.contacto .contacto-form form button, .contacto .contacto-form form input, .contacto .contacto-form form textarea {
  width: 100%;
  padding: .5em;
  border: none;
  background: none;
  border-bottom: 1px solid #111111;
  outline: none;
}

.contacto .contacto-form form button {
  background-color: #111111;
  color: #FEFEFE;
  border: 0;
  text-transform: uppercase;
}

.contacto .contacto-form form button:hover,
.contacto .contacto-form form button:focus {
  background-color: #38435a;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  outline: 0;
}

@media (min-width: 768px) {
  .contacto .contacto-form form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .contacto .contacto-form .block {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .contacto .contacto-form button {
    max-width: 40%;
    padding-right: 50%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

body.dark .contacto .contacto-form {
  background-color: #111111;
  color: #FEFEFE;
}

body.dark .contacto .contacto-form button, body.dark .contacto .contacto-form input, body.dark .contacto .contacto-form textarea {
  border-bottom: 1px solid #FEFEFE;
}

@media (min-width: 768px) {
  .contacto {
    max-width: 60%;
  }
}

.contacto-info {
  background-color: #ACABAB;
  max-width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 15px;
}

.contacto-info ul {
  padding-top: 15px;
  text-decoration: none;
}

.contacto-info ul li {
  padding-top: 8px;
}

.volverArriba {
  width: 60px;
  height: 60px;
  background-color: rgba(36, 240, 226, 0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  position: fixed;
  bottom: 20px;
  right: 5px;
  cursor: pointer;
  display: none;
}

@media (min-width: 768px) {
  .volverArriba {
    bottom: 20px;
    right: 30px;
  }
}

html {
  scroll-behavior: smooth;
}

#enviarCorreo {
  opacity: 0;
}
/*# sourceMappingURL=styles.css.map */